{% extends "ISSBlogBundle::layout.html.twig" %}

{% block content %}
    <ul>
        {% for post in posts %}
            <li><a href="{{ path('ISSBlogBundle_view', {'id': post.id}) }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}