{% extends "ISSSiteBundle::baseLayout.html.twig" %}

{% block content %}
    <div class="tiles-menu">
        <div id="red-tiles" class="tiles">
            <div class="tile mobile-solution">
                <div class="icon"></div>
                <div class="description"></div>
            </div>
            <div class="tile desktop-apps">
                <div class="icon"></div>
                <div class="description"></div>
            </div>
            <div class="tile web-development">
                <div class="icon"></div>
                <div class="description"></div>
            </div>
            <div class="tile science-projects">
                <div class="icon"></div>
                <div class="description"></div>
            </div>
            <div class="tile information-systems">
                <div class="icon"></div>
                <div class="description"></div>
            </div>
            <div class="tile build-your-site">
                <div class="icon"></div>
                <div class="description"></div>
            </div>
            <div class="tile testing">
                <div class="icon"></div>
                <div class="description"></div>
            </div>
        </div>
        <div class="tiles">
            <div class="tile news double-size">
                <div class="title"></div>
            </div>
            <div class="tile clients-speak double-size">
                <div class="title"></div>
            </div>
            <div class="tile internship">
                <div class="title"></div>
            </div>
            <div class="tile facts">
                <div class="title"></div>
            </div>
            <div class="tile social-news">
                <div class="title"></div>
            </div>
            <div class="tile crisstal-eye">
                <div class="title"></div>
            </div>
            <div class="tile feedback double-size">
                <div class="title"></div>
            </div>
            <div class="tile geography double-size">
                <div class="title"></div>
            </div>
            <div class="tile partners">
                <div class="title"></div>
            </div>
            <div class="tile contacts">
                <div class="title"></div>
            </div>
        </div>
    </div>
{% endblock %}